services:
  mqtt-to-meshcoreio-map:
    image: ghcr.io/bjorkan/mqtt-to-meshcoreio-map:latest
    container_name: mqtt-to-meshcoreio-map
    restart: unless-stopped
    env_file:
      - .env
    read_only: true
    security_opt:
      - no-new-privileges:true
    cap_drop:
      - ALL
    logging:
      driver: json-file
      options:
        max-size: 10m
        max-file: "3"
